:root {
  --black-shade-1: #1D1D1D; /* darkest */
  --black-shade-2: #232323;
  --black-shade-3: #282828;
  --black-shade-4: #313131; /* lightest */
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #C2C2C2;
  --accent-blue: #177DD6;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
}

body {
  background-color: var(--black-shade-3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  color: #929292;
  text-align: center;
  margin-bottom: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--accent-blue);
  border: 5px solid var(--black-shade-2);
  border-radius: 50%;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
  background-color: var(--black-shade-4);
}

#time-signature-button-group {
  display: flex;
  align-items: center;
}

.time-signature-button {
  width: 75px;
  height: 75px;
  margin-right: 6px;
  background-color: var(--black-shade-3);
  border: 2px solid var(--black-shade-2);
  border-radius: 2px;
  font-size: 20px;
  transition: all 0.3s ease;
}

[data-active="true"] {
  background-color: var(--black-shade-4);
  border-bottom: 2px solid var(--accent-blue);
}

.time-signature-button:last-child {
  margin-right: 0;
}

.time-signature-button:hover {
  border-bottom: 2px solid var(--accent-blue);
}

#play-button {
  border: 0;
}

#play-button:hover {
  background-color: #1b8df1;
  border: 0;
}

#play-button-icon {
  font-size: 55px;
}

.inline-icon {
  font-size: 13px;
  vertical-align: middle;
  margin:0;
  padding:0;
}

#container {
  background-color: var(--black-shade-1);
  border: 5px solid var(--black-shade-2);
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 80vh;
  min-height: 500px;
}

#bpm {
  font-size: 50px;
}

#bpm-label {
  font-size: 20px;
  text-align: center;
}

#attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}

#attribution a {
  color: var(--secondary-text-color);
  font-size: 14px;
}


/*Loading screen*/
#load-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 1;
  background-color: var(--black-shade-1);
  transition: all 0.5s ease;
}

.fade {
  opacity: 0 !important;
}

.hide {
  display: none;
}


/*Slider styles*/
.rs-bg-color {
  background-color: var(--black-shade-3);
}

.rs-handle {
  background-color: var(--accent-blue);
}


/*Responsive settings */
/*Disable IE default scaling*/
@-ms-viewport {
  width: device-width;
}

@media (max-width: 980px) {
  body {
    background-color: var(--black-shade-1);
  }

  #buttons {
    width: 100%;
    justify-content: space-evenly;
  }

  #container {
    border: 0;
    padding: 2%;
    width: 100%;
    height: 90vh;
  }
}

@media (max-height: 600px) {
  #attribution {
    position: relative;
    float: right;
    margin: 0 0 20px;
  }
}
